{% extends 'page.twig' %}
{% import 'form.twig' as f %}

{% block main %}
{% include 'message.twig' %}
    <form class="" method="post">

        <div>
            <label for="first_choice">First choice</label>
            <select class="selectpicker" name="first" id="first_choice">
                {% for theme in themes %}
                    {{theme}}
                    <option value="{{theme.id}}">{{theme.title}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="second_choice">Second choice</label>
            <select class="selectpicker" name="second" id="second_choice">
                {% for theme in themes %}
                    {{theme}}
                    <option value="{{theme.id}}">{{theme.title}}</option>
                {% endfor %}
            </select>
        </div>
        <p>{{f.submit({value:'Confirm choices'})}}</p>
    </form>
{% endblock %}

{% block links %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css"> -->
{% endblock %}

{% block scripts %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script> -->
{% endblock %}