{% extends 'page.twig' %}
{% import 'form.twig' as f %}

{% block main %}
{% include 'message.twig' %}
    <form class="" method="post">
        {{f.text({label: 'Title', name: 'title', class: 'generic_input', id: 'title', ph: 'Name of Theme Title', value: theme.title })}}
        {{f.textarea({label: 'Description', name: 'description', class: 'generic_input ckeditor', id: 'description', ph: 'Name of Theme Description', value: theme.description })}}
        
        <div class="form-group">
            <label for="visible">Visible: </label>
            <!-- hidden form to set visible to 0 if the checkbox is left blank -->
            <input type='hidden' value='off' name='visible'>
            <input {% if theme.visible %}checked{% endif %} id="visible" type="checkbox" name="visible"/>
        </div>

        {{f.submit({value:'Update'})}}

    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ assets }}/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( '.ckeditor' );
    </script>

{% endblock %}
