{% extends 'page.twig' %}
{% block main %}
{% include 'message.twig' %}
    <div>
        {% if context.user and context.user.canchosetheme %}
            <div>
                <a id="choose_theme_link" href="{{base}}/themes/choice">Choose a theme</a>
            </div>
        {% elseif context.user.themechoiceapproved %}
            <div class="alert alert-success">
                <strong>Success!</strong> Theme approved
            </div>
        {% elseif context.user.hasrole('Site', 'Student') %}
            <div class="alert alert-warning">
              <strong>Alert!</strong> Theme choice is still pending approval
            </div>
        {% endif %}

        {% for theme in themes %}
            <div class="col-md-12">
                <h1> Theme: {{theme.title}}</h1>
                {% if theme.user.id == context.user.id %}
                    <span class="alert-info">You own this theme</span>
                {% endif %}
            </div>
            <div class="col-md-12">
                <p>
                     {% if context.user().ownstheme(theme) %}
                        {% if not theme.visible %}<span class="alert-warning">This theme is hidden</span>{% endif %}
                        <span><a id="edit_{{theme.title}}" href="{{base}}/themes/edit/{{theme.id}}" class="glyphicon glyphicon-pencil">Edit</a></span>
                     {% endif %}
                     Description:{{theme.description}}
                </p>
            </div>
            {% if theme.projects %}
                {%  if context.user().ownstheme(theme) %}
                    <a id="theme_{{ theme.id }}_add_project_button"  href="{{base}}/project/create/{{ theme.id }}">Add project</a>
                {%  endif %}
                <table>
                    <tr>
                        <th width="10%">Project Title</th>
                        <th width="80%">Project description</th>
                    </tr>
                
                    {% for project in theme.projects %}
                        {% if context.user().canviewproject(project) %}
                        <tr>
                            <td>

                                

                                {%  if context.user().ownsproject(project) %}
                                    <a id="theme_{{ theme.id }}_edit_project_{{ project.id }}_button" class="glyphicon glyphicon-pencil" href="{{base}}/project/edit/{{project.id}}">Edit</a>
                                {%  endif %}
                                <strong>{{project.title}}</strong></td>
                            <td>
                                {% if project.visible != 1 %}
                                    <span class="alert-warning">Project is hidden</span>
                                {% endif %}
                                {{project.description|raw}}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    
                </table>
            {% else %}
                <p><span class="alert-warning">No projects associated with this theme</span></p>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
