{% extends 'page.twig' %}
{% import 'form.twig' as f %}

{% block main %}
    <h1>Create new project for {{ theme.title }}</h1>
    {% include 'message.twig' %}

    <form class="" method="post">
        {{f.text({label: 'Title', name: 'title', class: 'generic_input', id: 'title', ph: 'Theme Title', value: project.title })}}
        {{f.textarea({label: 'Description', name: 'description', class: 'generic_input ckeditor', id: 'description', ph: 'Name of Description', value: project.description })}}

        <div class="form-group">
            <label for="supervisor_dropdown">Supervisor for the project</label>
            <div>
                <select id="supervisor_dropdown" name="supervisor">
                    {% for supervisor in supervisors %}
                        <option  {% if project.supervisor.id == supervisor.id %} selected {% endif %} value="{{supervisor.id}}">
                            {{supervisor.email}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="visible">Visible: </label>
            <!-- hidden form to set visible to 0 if the checkbox is left blank -->
            <input type='hidden' value='off' name='visible'>
            <input {% if project.visible %}checked{% endif %} id="visible" type="checkbox" name="visible"/>
        </div>


        {{f.submit({value:'Update'})}}

    </form>

{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    <script src="{{ assets }}/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( '.ckeditor' );
    </script>

{% endblock %}
