
{% extends 'page.twig' %}
{% block main %}
    {% include 'message.twig' %}
    {% import 'form.twig' as f %}
    <h1>Add a new supervisor</h1>
    <form class="" method="post">
        <div class="form-group">
            <label for="supervisor">New supervisor</label>
            <select name="supervisor" id="supervisor">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {{f.submit({value:'Add'})}}
        </div>


    </form>

{% endblock %}
{% block css %}

{% endblock %}

{% block links %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{assets}}/js/sorttable.js"></script>
{% endblock %}
