
{% extends 'page.twig' %}
{% block main %}
    {% include 'message.twig' %}
    {% import 'form.twig' as f %}
    <div class="col-md-12">
        <h1>Add and remove theme leaders and supervisors</h1>
    </div>

    <div class="col-md-12">
        <h2>Supervisors</h2>
        <p><a href="{{ base }}/rolemanager/add_supervisor">Add supervisor</a></p>
        {% for supervisor in supervisors %}
            <div>
                {% if not supervisor.supervises %}
                    <span>
                        <form  class="inline_form" action="{{ base }}/rolemanager/supervisors/{{ supervisor.id }}" method="POST">
                            <input type="hidden" name="_METHOD" value="DELETE" />
                            <input class="alert-danger" value="Remove" type="submit"/>
                        </form>
                    </span>
                {% endif %}


                {{ supervisor.email }}
                {% if supervisor.supervises %}
                    <span class="alert-warning">
                        Cannot remove a supervisor that currently has students, reassign students to someone else and try again !
                    </span>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block css %}

{% endblock %}

{% block links %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{assets}}/js/sorttable.js"></script>
{% endblock %}
