{% extends 'page.twig' %}

{% import _self as h %}

{% macro tick(val, class) %}
<i class="{{class}} fa fa-toggle-{% if val %}on{% else %}off{% endif %}"></i>
{% endmacro tick %}

{% macro htick(val, class, name) %}
{% import _self as h %}
{{h.tick(val, class ~ ' htick')}}<input type="hidden" value="{{val}}" name="{{name}}[]"/>
{% endmacro htick %}

{% macro inline(type, name, msg, id, value) %}
<a href="#" class="ppedit" data-name="{{name}}" data-type="{{type}}" data-pk="{{id}}" data-url="{{base}}/ajax.php" data-title="{{msg}}">{{value}}</a>
{% endmacro inline %}

{% block scripts %}
    <script src="{{fwurls.parsley}}"></script>
    <script src="{{assets}}/js/util.js"></script>
    <script src="{{fwurls.editable}}"></script>
{% endblock scripts %}

{% block css %}
    <script src="{{fwurls.editablecss}}"></script>
{% endblock css %}

{% set types = ['text', 'textarea', 'checkbox', 'radio', 'password', 'select'] %}

{% block setup %}
    var kname = []
    function paramset(params)
    {
	params.id = params.pk
	params.bean = 'formfield'
	params.op = 'update'
	return params
    }
    kname = [
    {% for v in types %}
        {value: '{{v}}', text: '{{v}}'}{{loop.last ? '' : ','}}
    {% endfor %}
    ]
{% endblock setup %}

{% block onload %}
    $('#more').on('click', function(e){
        e.preventDefault()
        $('#mrow').before($('#example').clone())
        $('input', $('#mrow').prev()).val('') // clear the inputs
        $('option', $('#mrow').prev()).prop('selected', false) // clear any selections
    })
    $('#ptab').on('click', function(e){
        var x = $(e.target)
	if (x.hasClass('delb'))
	{
	    dodelb(e, x, 'formfield')
	}
	else if (x.hasClass('reqb'))
	{
	    dotoggle(e, x, 'formfield', 'required')
	}
	else if (x.hasClass('rdob'))
	{
	    dotoggle(e, x, 'formfield', 'readonly')
	}
	else if (x.hasClass('disb'))
	{
	    dotoggle(e, x, 'formfield', 'disabled')
	}
    })
    $('.ppedit').editable({params: paramset, source: kname});
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1>Edit Form "{{form.name}}"</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
	    <form id="addfform" action="#" method="post">
		<fieldset>
		    <legend>Form details</legend>
		    <div class="form-group">
			<label for="un" class="control-label">Form Name</label>
			<input type="text" id="un" name="name" placeholder="form name - alphanumeric characters only" class="form-control" required="required"
			    data-parsley-trigger="change" data-parsley-type="alphanum" value="{{form.name}}"/>
		    </div>
		    <div class="form-group">
			<label class="radio-inline">
			    <input type="radio" name="method" value="1"{% if form.method == 0 %} checked="checked"{% endif %}> GET
			</label>
			<label class="radio-inline">
			    <input type="radio" name="method" value="1"{% if form.method == 1 %} checked="checked"{% endif %}> POST
			</label>
		    </div>
		    <div class="form-group">
			<label class="checkbox-inline">
			    <input type="checkbox" name="multipart" value="1"{% if form.multipart == 1 %} checked="checked"{% endif %}> Multipart Encoded
			</label>
		    </div>
		</fieldset>
		<fieldset>
		    <legend>Field details</legend>
		    <table id="ptab" class="table table-striped table-hover">
			<thead>
			    <tr>
			        <th>Type</th>
			        <th>Label</th>
			        <th>Name</th>
			        <th>ID</th>
			        <th>Class</th>
			        <th>Placeholder</th>
			        <th>Required</th>
			        <th>Readonly</th>
			        <th>Disabled</th>
			        <th>&nbsp;</th>
			   </tr>
			</thead>
			<tbody>
			    {% for fld in form.fields %}
				<tr data-id="{{fld.getID}}">
				    <td>{{h.inline('select', 'type', 'Select Type', fld.getID, fld.type)}}</td>
				    <td>{{h.inline('text', 'label', 'Enter label', fld.getID, fld.label)}}</td>
				    <td>{{h.inline('text', 'name', 'Enter name', fld.getID, fld.name)}}</td>
				    <td>{{h.inline('text', 'label', 'Enter label', fld.getID, fld.label)}}<a href="#" class="ppedit" data-name="id" data-type="text" data-pk="{{fld.getID}}" data-url="{{base}}/ajax.php" data-title="Enter id">{{fld.htmlid}}</a></td>
				    <td><a href="#" class="ppedit" data-name="class" data-type="text" data-pk="{{fld.getID}}" data-url="{{base}}/ajax.php" data-title="Enter class">{{fld.class}}</a></td>
				    <td><a href="#" class="ppedit" data-name="placeholder" data-type="text" data-pk="{{fld.getID}}" data-url="{{base}}/ajax.php" data-title="Enter placeholder">{{fld.placeholder}}</a></td>
				    <td>{{h.tick(fld.required, 'reqb')}}</td>
				    <td>{{h.tick(fld.readonly, 'rdob')}}</td>
				    <td>{{h.tick(fld.disabled, 'disb')}}</td>
				    <td><i class="fa fa-trash-o delb"></i></td>
				</tr>
			    {% endfor %}
			    <tr data-id="new">
				<td>
				    <select name="type[]" class="form-control col-md-2">
					<option value="">Type</option>
					{% for v in types %}
					    <option value="{{v}}">{{v}}</option>
					{% endfor %}
				    </select>
				</td>
				<td><input type="text" name="label[]" placeholder="<label>" class="form-control"/></td>
				<td><input type="text" name="name[]" placeholder="name=" class="form-control"/></td>
				<td><input type="text" name="id[]" placeholder="id=" class="form-control"/></td>
				<td><input type="text" name="class[]" placeholder="class=" class="form-control"/></td>
				<td><input type="text" name="placeholder[]" placeholder="placeholder=" class="form-control"/></td>
				<td>{{h.htick(0, 'reqb', 'required')}}</td>
				<td>{{h.htick(0, 'rdob', 'readonly')}}</td>
				<td>{{h.htick(0, 'disb', 'disabled')}}</td>
				<td><i class="fa fa-trash-o delb"></i></td>
			    </tr>
			    <tr id="mrow">
				<td colspan="8">&nbsp;</td>
				<td colspan="2"><button id="more" class="btn btn-xs btn-info pull-right">Add More</button></td>
			    </tr>
		        </tbody>
		    </table>

		</fieldset>
                <button class="btn btn-primary btn-lg" type="submit">Save</button>
	    </form>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
