
$font-stack:    sans-serif;
$bg-color: #fff;

body {
  font-family: $font-stack;
  background-color: $bg-color;
}

/*------------------------------------*\
    For the /admin pages
\*------------------------------------*/

/**
 * Used for delete buttons
 */
.delb {
    color: red;
}

.actb, .admb, .editb, .delb, .devb, .reqb, .rdob, .disb {
    cursor: pointer;
}

.noconfirm { color: red; }

.center{
  text-align:center;
}

.text-danger, .text-alert, .text-success, .alert-info{
    color:white !important;
}

.text-danger a, .text-alert a, .text-success a, .alert-info a{
    color:white !important;
}

.inline_form{
    display: inline-block;
}

.red{
    color:red;
}