body {
  font-family: sans-serif;
  background-color: #fff; }

/*------------------------------------*\
    For the /admin pages
\*------------------------------------*/
/**
 * Used for delete buttons
 */
.delb {
  color: red; }

.actb, .admb, .editb, .delb, .devb, .reqb, .rdob, .disb {
  cursor: pointer; }

.noconfirm {
  color: red; }

.center {
  text-align: center; }

.text-danger, .text-alert, .text-success, .alert-info {
  color: white !important; }

.text-danger a, .text-alert a, .text-success a, .alert-info a {
  color: white !important; }

.inline_form {
  display: inline-block; }

.red {
  color: red; }

/*# sourceMappingURL=layout.css.map */
