{% extends 'page.twig' %}

{% block onload %}
    $('#alert').on('click', function(){
        bootbox.alert('Hello World')
    })
{% endblock onload %}

{% block header %}

{% endblock header %}

{% block main %}
    <div class="col-md-12">
        <h1>Welcome to stage 3 theme and project selection server. </h1>
        <div class="alert alert-danger">
            <strong>Warning!</strong> The system has the ability to send emails, but it is not configured to do so, reason is mentioned below.
        </div>
        <p>Using this system you can:
            <ul>
                <li>
                    The system is configured to send emails on important events, like module update or theme assignments.
                    FakeMail (https://nilhcem.github.io/FakeSMTP/) has been used to test the features and must be running for the mail to be delivered properly.<br/>
                    Alternatively, in Config.php, setup a real smtp mail server and the system will send real emails.<br/>
                    <span class="alert-danger">The system was developed with a testing mail server due to the lack of a real mail server.</span>

                </li>
                <li>
                    <span class="alert-warning">As a student:</span>
                    <ul>
                        <li>Pick theme preferences</li>
                        <li>Get notified if the module leader confirms your theme</li>
                        <li>See what supervisor has been assigned</li>

                    </ul>
                </li>

                <li>
                    <span class="alert-warning">As a Module leader:</span>
                    <ul>
                        <li>
                            Assign themes to students (you can see their preference)
                        </li>

                        <li>
                            Edit every project and theme and hide them
                        </li>

                        <li>
                            Assign supervisor to students
                        </li>

                        <li>
                            View all students, their choices and supervisors in a sortable table
                        </li>

                    </ul>
                </li>

                <li>
                    <span class="alert-warning">As a theme leader:</span>
                    <ul>
                        <li>Can edit and hide themes associated with with theme leader</li>
                        <li>Can assign students taking the theme to supervisors</li>
                        <li>Can view list of students taking different themes that he/she owns</li>
                        <li>Can see which supervisor the student of the theme leader has been assigned to</li>
                        <li>Receive emails when a student has a pending choice</li>
                    </ul>
                </li>

                <li>
                    <span class="alert-warning">As a supervisor:</span>
                    <ul>
                        <li>I can view all students that have been assigned to me </li>
                        <li>I can also edit and update projects associated with me</li>
                    </ul>
                </li>

                <li>Additionally, this system has:
                    <ul>
                        <li>The ability to populate the database with fake testing data, this is done by going to <span class="alert-info"><a href="{{ base }}/devel/faker">{{ base }}/devel/faker</a></span>.
                            To use this feature, log in as admin</li>
                        <li>The system also provides a restful api for viewing themes and projects, the urls are:
                            <ul>
                                <li>{{ base }}/api/themes/ to view all themes</li>
                                <li>{{ base }}/api/themes/{theme_id}} to view single theme</li>

                                <li>{{ base }}/api/projects/ to view all projects</li>
                                <li>{{ base }}/api/projects/{project_id} to view single project</li>
                            </ul>
                            The restful api allows a student to create a mobile application using the university's backend api server.
                        </li>
                        <li>Supervisor can add new users as supervisors</li>
                        <li>Supervisor and theme leader can remove a supervisor from a theme</li>
                        <li>Acceptance tests can be accessed in the sourcecode under <code>tests/acceptance/</code>. Testing framework used is <code>Codeception</code></li>
                    </ul>
                </li>
                <li>The system also uses composer, to resolve dependencies use composer install and composer update, also to run tests, './vendor/bin/codecept run acceptance'. Vendor is the directory where all composer dependencies will be installed</li>
            </ul>
        </p>
    </div>
{% endblock main %}

{% block footer %}

{% endblock footer %}
