{% extends 'page.twig' %}

{% block navigation %}
    {# Might not want navigation bar on a login page... #}
{% endblock navigation %}

{% block main %}
    <div class="row">
	<div class="col-md-offset-4 col-md-4">
	    {% include 'message.twig' %}
	    <form action="{{base}}/login" method="post" class="well">
	        <input type="hidden" name="page" value="{{page}}"/>
		<fieldset>
		    <legend>Login</legend>
		    <div class="form-group">
			<label for="un" class="control-label">User Name</label>
			<input type="text" id="un" name="login" placeholder="User Name" class="form-control" required="required"/>
		    </div>
		    <div class="form-group">
			<label for="pw" class="control-label">Password</label>
			<input type="password" id="pw" name="password" placeholder="**************" class="form-control" required="required"/>
		    </div>
{#
		    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="memo"/> Remember me
                        </label>
                    </div>
#}
		<button id="login_button" class="btn btn-primary" type="submit">Login</button>
		</fieldset>
		<p><small><a href="{{base}}/forgot">Lost password?</a></small></p>
		<p><small><a href="{{base}}/confirm">Confirm email?</a></small></p>
		<p>or</p>
		<a class="btn btn-info btn-sm" href="{{base}}/register">Register</a>
	    </form>
	</div>
    </div>
{% endblock main %}
