
{% extends 'page.twig' %}
{% block main %}
{% include 'message.twig' %}
{% import 'form.twig' as f %}
    <h1>Assign supervisors to students</h1>
    <table class="table sortable">
        <thead>
            <th>Student Email</th>
            <th>Student login name</th>
            <th>Chosen theme</th>
            <th>Supervisor</th>
        </thead>
        <tbody>
        {% for student in students %}
            <form method="post">
                {{f.hidden({name: 'user_id', value: student.id})}}
                <tr class="{% if student.supervisor %}alert-success{% endif %}" >
                    <td>{{student.email}}</td>
                    <td>{{student.login}}</td>
                    <td>{{student.theme.title}}</td>
                    {% if student.supervisor %}
                        <td>
                            {{student.supervisor.email}}
                            <a href="{{ base }}/administration/remove_supervisor/{{ student.id }}"><span class="glyphicon glyphicon-remove red"></span></a>
                        </td>
                    {% else %}
                        <td>
                            <select name="supervisor">
                                {% for supervisor in supervisors %}
                                    <option value="{{supervisor.id}}">
                                        {{supervisor.email}}
                                    </option>                                        
                                {% endfor %}
                            </select>
                            <input id="choice_{{choice.id}}" type="submit" value="confirm"/>
                        </td>
                    {% endif %}
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block css %}

{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{assets}}/js/sorttable.js"></script>
    <script type="text/javascript">
    $('.selectpicker').selectpicker({
      });
</script>
{% endblock %}
