{% extends 'page.twig' %}
{% block main %}
{% include 'message.twig' %}
{% import 'form.twig' as f %}

    <h1>Student theme choice confirmation page</h1>
    <table class="table sortable">
        <thead>
            <th>Student Email</th>
            <th>Student login name</th>
            <th>Theme preference</th>
            <th>Supervisor</th>
            <th>Confirmed</th>
        </thead>
        <tbody>
        {% for choice in choices %}
            <form method="post">
                <tr class="{% if choice.confirmed %}alert-success{% endif %}" >
                    <td>{{choice.user.email}}</td>
                    <td>{{choice.user.login}}</td>
                    {{f.hidden({name: 'user_id', value: choice.user.id})}}
                    {% if choice.confirmed %}
                        <td>{{choice.first.title}}</td>
                    {% else %}
                        <td>
                            <select name="choice">
                                {% for theme in themes %}
                                    <option {% if choice.first.id == theme.id %} 
                                                selected class="yellow" value="{{theme.id}}">{{theme.title}} - FIRST CHOICE
                                            {% elseif choice.second.id == theme.id %} 
                                                class="alert-warning yellow" value="{{theme.id}}">{{theme.title}} - Second CHOICE
                                            {% else %}
                                                value="{{theme.id}}">{{theme.title}} 
                                            {% endif %} 
                                    </option>                                        
                                {% endfor %}
                            </select>
                        </td>
                    {% endif %}
                    <td>{{ choice.user.supervisor.email }}</td>

                    
                    <td id="student_{{ choice.user.id }}_choice_{{ choice.id }}">
                        {% if choice.confirmed %}
                            Yes
                        {% else %}
                            <input id="choice_{{choice.id}}" type="submit" value="confirm"/>
                        {% endif %}
                    </td>
                </tr>
            </form>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{{assets}}/js/sorttable.js"></script>
{% endblock %}
