
{% extends 'page.twig' %}
{% block main %}
    {% include 'message.twig' %}
    {% import 'form.twig' as f %}
    <p>Manage supervisors <a href="{{ base }}/rolemanager/supervisors">here</a></p>
    {#<p>Manage theme leaders <a href="">here</a></p>#}

{% endblock %}
{% block css %}

{% endblock %}

{% block links %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{assets}}/js/sorttable.js"></script>
{% endblock %}
