
{% extends 'page.twig' %}
{% block main %}
{% include 'message.twig' %}
{% import 'form.twig' as f %}
    <h1>View students that you supervise</h1>

     <table class="table sortable">
            <thead>
                <th>Student Email</th>
                <th>Student login name</th>
                <th>Student theme</th>
            </thead>
            <tbody>
            {% for student in students %}
                    {{f.hidden({name: 'user_id', value: student.id})}}
                    <tr >
                        <td>{{student.email}}</td>
                        <td>{{student.login}}</td>
                        <td>{{student.theme.title}}</td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}
{% block css %}

{% endblock %}

{% block links %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{assets}}/js/sorttable.js"></script>
{% endblock %}
